
.wrapper{
    width: calc(100% - 40px);
    top: 0;
    left: 0;
    position: absolute;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: auto;
    padding: 0 20px;
    transition: height 4s;
    font-size: 14px;
}

.success{
    background-color: #3faa3f;
}

.error{
    background-color: #da4747;
}
