.wrapper{
    width: 70%;
    height: 100%;
}

.headerText{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Homemade Apple', cursive;
}


.tableWrapper{
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    margin: 10px 10px 0 10px;
    overflow: auto;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table, th, tr, td{
    border: 1px solid rgb(92, 91, 91);
    text-align: center;
    height: 20px;
    font-size: 14px;
}

th{
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: #376e88;
}

td{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleteBtn{
    color: black;
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    margin: 3px 0;
    background-color: #ff6666;
    border-radius: 5px;
    border: 0;
}

.editBtn{
    color: black;
    height: 20px;
    padding: 0 10px;
    font-size: 10px;
    margin: 3px 0;
    background-color: #a4f39a;
    border-radius: 5px;
    border: 0;
    margin-right: 7px;
}